# Example configuration for Honcho
ED_LOGIN=XXXXXXXX
ED_PASSWORD=XXXXXXX
ED_CATALOG_URI=http://public.ws.cz.elinkx.biz/service.asmx/getProductListDownloadZIP
SHOPTET_CATALOG_URI=https://example.com/export/products.csv?visibility=-1&patternId=2&hash=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MONGOLAB_URI=mongodb://localhost/s3dt_catalog
REDISTOGO_URL=redis://localhost:6379/
WEB_PORT=8002
