{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Svět 3D tisku - catalog</h1>

<h2>Update catalog from ED System to Shoptet</h2>

<h3>Update catalog from ED System</h3>

<p>Download catalog from ED System, filter products just from 3D print category,
convert them to the Shoptet format and store them into MongoDB.</p>

<form action="/catalog/ed" method="POST">
	<input type="submit" value="Update catalog from ED System" class="btn btn-primary">
</form>

<h3>Update catalog from Shoptet</h3>

<p>Download catalog from Shoptet, extract codes of existing products along with their
visibility and store them to MongoDB.</p>

<form action="/catalog/shoptet" method="POST">
	<input type="submit" value="Update catalog from Shoptet" class="btn btn-primary">
</form>

<h3>Export catalog to Shoptet</h3>

<p>Download updated catalog as an XML file than can be imported to Shoptet.</p>

<form action="/catalog" method="GET">
	<input type="submit" value="Export catalog to Shoptet" class="btn btn-primary"> (download an XML)
</form>

<h2>Jobs</h2>

<ul>
	<li><a href="/jobs/">Summary of background jobs</a></li>
	<li><a href="/rq/">Redis Queue dashboard - background job details</a></li>
</ul>
{% endblock %}
