<h1>S3DT - catalog</h1>

<h2>Update catalog from ED System</h2>

<p>Download catalog from ED System, filter products just from 3D print category,
convert them to the Shoptet format and store them into MongoDB.</p>

<a href="/update_ed_catalog/">Update catalog from ED System</a>

<h2>Update catalog from Shoptet</h2>

<p>Download catalog from Shoptet, extract codes of existing products along with their
visibility and store them to MongoDB.</p>

<a href="/update_shoptet_catalog/">Update catalog from Shoptet</a>

<h2>Export catalog to Shoptet</h2>

<p>Download updated catalog as an XML file than can be imported to Shoptet.</p>

<a href="/export_catalog/">Export catalog to Shoptet</a> (download an XML)

<h2>Jobs</h2>

<ul>
	<li><a href="/jobs/">Summary of background jobs</a></li>
	<li><a href="/rq/">Redis Queue dashboard - background job details</a></li>
</ul>
